:root {
    /* CSS HEX */
    --honeydew: #dff8ebff;
    --rose-quartz: #a28f9dff;
    --battleship-gray: #74776bff;
    --walnut-brown: #5c574fff;
    --black-olive: #48483aff; 

    /* CSS HSL */
    --honeydew-hsl: hsla(149, 64%, 92%, 1);
    --rose-quartz-hsl: hsla(316, 9%, 60%, 1);
    --battleship-gray-hsl: hsla(75, 5%, 44%, 1);
    --walnut-brown-hsl: hsla(37, 8%, 34%, 1);
    --black-olive-hsl: hsla(60, 11%, 25%, 1);

    /* CSS RGB */
    --honeydew-rgb: rgba(223, 248, 235, 0.4);
    --rose-quartz-rgb: rgba(162, 143, 157, 0.4);
    --battleship-gray-rgb: rgba(116, 119, 107, 0.4);
    --walnut-brown-rgb: rgba(92, 87, 79, 0.4);
    --black-olive-rgb: rgba(72, 72, 58, 0.4);

    /* CSS Gradient */
    --gradient-top: linear-gradient(0deg, #dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
    --gradient-right: linear-gradient(90deg, #dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
    --gradient-bottom: linear-gradient(180deg, #dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
    --gradient-left: linear-gradient(270deg, #dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
    --gradient-top-right: linear-gradient(45deg, #dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
    --gradient-bottom-right: linear-gradient(135deg, #dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
    --gradient-top-left: linear-gradient(225deg, #dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
    --gradient-bottom-left: linear-gradient(315deg, #dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
    --gradient-radial: radial-gradient(#dff8ebff, #a28f9dff, #74776bff, #5c574fff, #48483aff);
}

body {
    font-family: 'Roboto', sans-serif;
    /* Apply Roboto here */
}

/* Default sticky-top style */
.main-header {
    transition: background-color 0.3s, box-shadow 0.3s, height 0.3s;
    background-color: var(--walnut-brown);
}

/* Background color when sticky at the top */
.main-header.scrolled {
    background-color: var(--rose-quartz);
}

.navbar-brand .logo {
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    letter-spacing: -0.04em;
    color: var(--honeydew);
}

.navbar-nav .nav-link {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -0.04em;
    color: var(--honeydew);
    transition: color 0.3s ease-in-out;
}

.main-header .navbar-nav .nav-link:hover,
.main-header .navbar-nav .nav-link:focus {
    color: var(--rose-quartz);
}

.main-header.scrolled .navbar-nav .nav-link:hover,
.main-header.scrolled .navbar-nav .nav-link:focus {
    color: var(--walnut-brown);
}

.dropdown-menu {
    background-color: var(--honeydew);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.dropdown-item:hover {
    color: var(--rose-quartz);
    background-color: var(--honeydew);
}

@media (max-width: 1024px) {
    .main-header nav {
        padding: 0 1rem;
    }

}


.hero {
    height: 200vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

.hero .background-banner {
    position: sticky;
    display: flex;
    top: 0;
    width: 100%;
    height: 100px;
    background: var(--walnut-brown);
    z-index: 1;
}

.hero .background {
    display: flex;
    top: 0;
    width: 100%;
    height: 15vh;
    background: var(--walnut-brown);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.hero .background-lower {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    /* height: auto; */
    /* background: var(--gradient-top); */
    z-index: 0;
    background-image: url('assets/banner.JPG');
    background-size: cover;
    background-position: center;
    height: auto;
    aspect-ratio: 16/9;
    /* Adjust the aspect ratio as needed */
}

.hero .background-lower::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--honeydew-rgb);
    /* White opacity layer */
    z-index: 1;
}


@media (max-width: 768px) {
    .hero .background-lower {
        background-position: center center;
        aspect-ratio: 4/3;
        /* Adjust the aspect ratio as needed for mobile */
    }
}

.section-text {
    margin: 25px;
    margin-top: 50px;
}


.projects {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* Adjust the gap as needed */
    margin-bottom: 50px;
    align-items: center;
    /* Center the project divs */
}

.projects>h2 {
    margin-top: 50px;
    margin-bottom: -25px;
    width: 100%;
    padding-left: 25px;
    justify-content: left;
}

.projects .project {
    display: flex;

    background-color: var(--honeydew);
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 350px;
    max-width: 1000px;
    width: 80vw;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 750px) {
    .projects .project {
        flex-direction: column;
    }
}

.project > .project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: 40%;
    min-width: 250px;
    height: auto;
}


@media (max-width: 750px) {
    .project > .project-image {
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
    }
}

.project-image img {
    border: 5px solid var(--rose-quartz);
}

.project > .project-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 600px;
    margin: 15px;
}

.project .learn-more {
    display: flex;
    bottom: 15px;
    left: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--rose-quartz);
    color: var(--honeydew);
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

